/*About Us*/
$pink:#CC8C82;

#aboutUs {
    text-align: center;
    border-bottom: double;
    border-color: $pink;
}

#aboutUs__content {
    margin-left: 15%;
    margin-right: 15%
}

#aboutUs__video {
    width: 80%;
    border: double;
    border-color: $pink;
}

.aboutUs__distancia {
    margin: 0% 0% 5% 0%;
}

