/*Community*/
@import "variables";

#community {
    width: 100%;
    text-align: center;
    padding-top: 30vh;
    padding-bottom: 15vh;
    .community__titulo {
        color: $blue;
        font-size: 28px;
        font-family: 'Open Sans', sans-serif;
    }
    .community__text {
        color: $blue;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
    }
    img {
        height: 60vh;
        border-radius: 25px;
    }
    #community__giveBack {
        height: 60vh;
        border: double;
        border-color: $pink;
        border-radius: 25px;
    }
    #community__sourceCode {
        height: 60vh;
        border: double;
        border-color: $pink;
        border-radius: 25px;
    }
}


