/*Community*/

#community {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

.community__titulo {
    margin: 5%;
    color: #2E4D5E;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.community__text {
    color: #2E4D5E;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

carousel img {
    width: 10px;
}

#community__giveBack {
    margin: 2% 10% 2% 10%;
}

#community__sourceCode {
    margin: 2% 10% 2% 10%;
}
