/*Contact Us*/
@import "variables";

#contactUs form {
    color: $pink;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}

.contactUs__input__text1 {
    height: 30px;
}

.contactUs__input__text2 {
    height: 80px;
}

.contactUs__space {
    margin-top: 2%;
    margin-bottom: 2%;
}

#contactUs__btn{
    text-align: center;
}

.contactUs__distance {
    margin: 0% 0% 5% 0%;
}
