/*Contact Us*/
@import "variables";

#contactUs{
    height: 100vh;
    padding-top: 25vh;
    padding-bottom: 15vh;
    form {
        height: 55vh;
        color: $pink;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        display: grid;
        text-align: left;
        margin-left: 28%;
        margin-right: 28%;
        .contactUs__input1 {
            height: 4vh;
        }
        .contactUs__input2 {
            height: 10vh;
        }
        a{
            color: $pink;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            &:hover{
                color: #AD7167;
                border-style: none;
                text-decoration: none;
            }
        }
        #contactUs__btn{
            text-align: center;
        }
    }
}



