/*Footer*/
@import "variables";

footer {
    width: $fullWidth;
    background-color: $blue;
    display: flex;
    overflow: hidden;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer__izq {
    width: ($fullWidth/10)*4;
    padding-left: $fullWidth/50;
    padding-right: $fullWidth/50;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#footer__der {
    width: ($fullWidth/10)*6;
    padding-left: $fullWidth/50;
    padding-right: $fullWidth/50;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer__text__color {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    white-space: pre;
}

.footer__text__color:hover {
    transition: 2s;
    color: $pink;
}

footer section img {
    width: ($fullWidth/10)*4.5;
}
