/*Services*/
$blue:#2E4D5E;
$fullWidth: 100%;

#services {
    text-align: center;
    border-bottom: double;
    border-color: $blue;
}

.services__distancia {
    margin: 0% 0% ($fullWidth/20) 0%;
}

#services__grid {
    display: grid;
    grid-template-columns: ($fullWidth/4) ($fullWidth/4) ($fullWidth/4) ($fullWidth/4);
    align-items: center;
    justify-items: center;
    white-space: pre;
}

#services__grid div {
    display: grid;
    grid-template-columns: $fullWidth;
    grid-template-rows: $fullWidth/2;
    align-items: center;
    justify-items: center;
    white-space: pre;
}

